.modal {
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000055;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--hidden {
      display: none;
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 40px 5px 20px;
    box-shadow: 5px 2px 20px 10px rgb(0 0 0 / 12%);
  }
  &__message {
    font-weight: 500;
    color: #4b4b4b;
  }
}

.icon {
  font-size: 2em;
  &--valid {
    color: #73832c;
    margin-right: 20px;
  }
  &--error {
    color: #c52525;
    margin-right: 20px;
  }
  &--close {
    color: #596521;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
  }
}
